<ion-header>
    <ion-toolbar color="primary" class="ion-float-right">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="pacient-input"></ion-back-button>
          </ion-buttons>
      <ion-title>SF-36</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <!-- 1st set of questions -->
    <ion-slide>
      <ion-card>
        <ion-card-header>
          Em geral você diria que sua saúde é:
        </ion-card-header>
      </ion-card>
    </ion-slide>

    <!-- 2nd set of questions -->
    <ion-slide>
      <ion-card>
          <ion-card-header>
            Comparada há um ano atrás, como você se classificaria sua idade em geral, agora?
          </ion-card-header>
        </ion-card>
    </ion-slide>

    <!-- 3rd set of questions -->
    <ion-slide>
      <ion-card>
        <ion-card-header>
          Os seguintes itens são sobre atividades que você poderia fazer atualmente durante um dia comum. Devido à sua saúde, você teria dificuldade para fazer estas atividades? Neste caso, quando?
        </ion-card-header>
      </ion-card>
    </ion-slide>

    <!-- 4th set of questions -->
    <ion-slide>
      <ion-card>
        <ion-card-header>
          Durante as últimas 4 semanas, você teve algum dos seguintes problemas com seu trabalho ou com alguma atividade regular, como conseqüência de sua saúde física?
        </ion-card-header>
      </ion-card>
    </ion-slide>

    <!-- 5th set of questions -->
    <ion-slide>
      <ion-card>
        <ion-card-header>
          Durante as últimas 4 semanas, você teve algum dos seguintes problemas com seu trabalho ou outra atividade regular diária, como conseqüência de algum problema emocional (como se sentir deprimido ou ansioso)?
        </ion-card-header>
      </ion-card>
    </ion-slide>

    <!-- 6th set of questions -->
    <ion-slide>
      <ion-card>
        <ion-card-header>
          Durante as últimas 4 semanas, de que maneira sua saúde física ou problemas emocionais interferiram nas suas atividades sociais normais, em relação à família, amigos ou em grupo?
        </ion-card-header>
      </ion-card>
    </ion-slide>

    <!-- 7th set of questions -->
    <ion-slide>
      <ion-card>
        <ion-card-header>
          Quanta dor no corpo você teve durante as últimas 4 semanas?
        </ion-card-header>
      </ion-card>
    </ion-slide>

    <!-- 8th set of questions -->
    <ion-slide>
      <ion-card>
        <ion-card-header>
          Durante as últimas 4 semanas, quanto a dor interferiu com seu trabalho normal (incluindo o trabalho dentro de casa)?
        </ion-card-header>
      </ion-card>
    </ion-slide>

    <!-- 9th set of questions -->
    <ion-slide>
      <ion-card>
        <ion-card-header>
          Estas questões são sobre como você se sente e como tudo tem acontecido com você durante as últimas 4 semanas. Para cada questão, por favor dê uma resposta que mais se aproxime de maneira como você se sente, em relação às últimas 4 semanas. 
        </ion-card-header>
      </ion-card>
    </ion-slide>

    <!-- 10th set of questions -->
    <ion-slide>
      <ion-card>
        <ion-card-header>
            Durante as últimas 4 semanas, quanto de seu tempo a sua saúde física ou problemas emocionais interferiram com as suas atividades sociais (como visitar amigos, parentes, etc)?
        </ion-card-header>
      </ion-card>
    </ion-slide>

    <!-- 11th set of questions -->
    <ion-slide>
      <ion-card>
        <ion-card-header>
            O quanto verdadeiro ou falso é cada uma das afirmações para você? 
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
