<ion-header>
  <ion-toolbar color="primary">
    <ion-title>e-Formulário Médico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide>
      <ion-card class="ion-padding">
        <ion-card-header class="header ion-no-padding ion-margin-bottom">
          Faça seu formulário ou questionário da área médica com mais facilidade!
        </ion-card-header>

        <ion-card-content class="content ion-no-padding ion-margin-bottom">
          Registre um paciente, escolha um formulário e deixe que ele responda às questões.<br>
          O formulário irá gerar o resultado para você digitalmente, e permitir que você faça o compartilhe de diversas maneiras, como:
          <br>
          <ul>
            <li>Enviar por e-mail;</li>
            <li>Enviar por WhatsApp ou outro aplicativo de mensagens;</li>
            <li>Salvar para o dispositivo local;</li>
          </ul>
          E mais!
        </ion-card-content>
        <br>
        
        <ion-button expand="block" [routerLink]="['/pacient-input']">
          Começar
        </ion-button>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
